<%
locals.OLSKPageAssets = [
	'__compiled/ui-style.css',
];
%>

<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<p>
	<strong>OLSKCollectionDispatchClick</strong>
	<span id="TestOLSKCollectionDispatchClick">0</span>
	<span id="TestOLSKCollectionDispatchClickData">undefined</span>
</p>

<p>
	<strong>OLSKCollectionDispatchArrow</strong>
	<span id="TestOLSKCollectionDispatchArrow">0</span>
	<span id="TestOLSKCollectionDispatchArrowData">undefined</span>
</p>
